body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('./images/pattern.png');
}

#mainheader {
    background-color: #a593c2;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

#main {                 /*Id selector because one element only*/
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

footer {                /*Tag selector because applies to all of the same type*/
    clear: both;
    width: 100%;
}

.searchbox {            /*Class selector, applies to elements with the class "searchbox"*/
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

th,
td {
    padding: 5px;
}